.film-main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.film-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.film-image img {
    width: 100%;
}
.film-table-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.film-overview {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.film-main .nav-tabs {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.film-nav-content {
    width: 80%;
    margin: auto;
}
